SECRET_KEY=django-insecure-change-me-in-production-very-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=sqlite:///db.sqlite3
OPENWEATHER_API_KEY=your_openweather_api_key_here
EXCHANGE_API_KEY=your_exchangerate_api_key_here
LOG_LEVEL=DEBUG
